<div class="res-wrapper">

    <div class="res-head">

        <h4>Resource Planning</h4>

        <div class="scm-downloadBtn" id="save_chart">
            <!--<span> Download Output </span>-->
            <a class="scmBtn btn-primary">Download</a>
        </div>

    </div>

    <div print-res-plan=""></div>

    <div class="row" data-ng-if="res.resourcesList.nonAdjustedItemCount > 0">
        <div class="col-xs-8 col-xs-offset-2 res-wraning">
            <section></section>
            <section>
                <span data-ng-bind="res.resourcesList.nonAdjustedItemCount"></span> customer record(s) not displayed in the
                screen as they don't have adjusted customer prioritisation.
                <a href="/apex/SCMCustomerPrioritisation?pg={{res.selectedGroupID}}">Click here</a> to fix it.
            </section>
        </div>
    </div>


    <div class="table-responsive resMarTop" id="capture_wrapper">
        <p class="res-table-header">Detailed resource planning by customer</p>
        <table class="table table-bordered text-center scm-table">

            <tbody>
                <tr class="heading-row">
                    <th class="planning-heading sep-column">Emerging Stars</th>
                    <th class="planning-heading">Partners</th>
                </tr>

                <!--First section - Emerging Stars & Partners       -->

                <tr>
                    <td class="sep-column">

                        <table class="table table-bordered">
                            <tr class="heading-row">
                                <td class="heading">Customer</td>
                                <td class="heading">2015<br>RSV</td>
                                <td class="heading">2020<br>RSV</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Enter Total Trade Expenditure. Difference between NSV & GSV">Trade Expenditure<br>$m</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Total Customers Resources - excluding trade expenditure">Other Resources<br>$m</td>
                                <td class="heading">Total $m</td>
                                <td class="heading sep-column">% Total</td>
                            </tr>

                            <tr data-ng-repeat="emerging in res.resourcesList.emergingStars.actuals track by $index">
                                <td class="channel__cells" data-ng-bind="emerging.customer"></td>
                                <td class="channel__cells" data-ng-bind="emerging.rsvActual"></td>
                                <td class="channel__cells" data-ng-bind="emerging.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="emerging.trade"></td>
                                <td class="channel__cells" data-ng-bind="emerging.other"></td>
                                <td class="channel__cells" data-ng-bind="emerging.total"></td>
                                <td class="channel__cells" data-ng-bind="emerging.totalpercent"></td>
                            </tr>

                            <!--Dummy rows to make the display consistent      -->
                            <tr data-ng-repeat="n in res.emergingDummyRows track by $index">

                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>

                            </tr>
                            <!--End of dummy rows -->

                            <tr class="res-total">
                                <td>TOTAL</td>
                                <td data-ng-bind="res.resourcesList.emergingStars.total.rsvActual"></td>
                                <td data-ng-bind="res.resourcesList.emergingStars.total.rsvForecast"></td>
                                <td data-ng-bind="res.resourcesList.emergingStars.total.trade"></td>
                                <td data-ng-bind="res.resourcesList.emergingStars.total.other"></td>
                                <td data-ng-bind="res.resourcesList.emergingStars.total.total"></td>
                                <td data-ng-bind="res.resourcesList.emergingStars.total.totalpercent"></td>

                            </tr>

                        </table>

                    </td>

                    <td>
                        <table class="table table-bordered">
                            <tr class="heading-row">
                                <td class="heading">Customer</td>
                                <td class="heading">2015<br>RSV</td>
                                <td class="heading">2020<br>RSV</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Enter Total Trade Expenditure. Difference between NSV & GSV">Trade Expenditure<br>$m</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Total Customers Resources - excluding trade expenditure">Other Resources<br>$m</td>
                                <td class="heading">Total $m</td>
                                <td class="heading sep-column">% Total</td>
                            </tr>

                            <tr data-ng-repeat="partners in res.resourcesList.partners.actuals track by $index">
                                <td class="channel__cells" data-ng-bind="partners.customer"></td>
                                <td class="channel__cells" data-ng-bind="partners.rsvActual"></td>
                                <td class="channel__cells" ata-ng-bind="partners.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="partners.trade"></td>
                                <td class="channel__cells" data-ng-bind="partners.other"></td>
                                <td class="channel__cells" data-ng-bind="partners.total"></td>
                                <td class="channel__cells" data-ng-bind="partners.totalpercent"></td>
                            </tr>

                            <!--Dummy rows to make the display consistent      -->
                            <tr data-ng-repeat="n in res.partnerDummyRows track by $index">

                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>

                            </tr>
                            <!--End of dummy rows -->

                            <tr class="res-total">
                                <td>TOTAL</td>
                                <td data-ng-bind="res.resourcesList.partners.total.rsvForecast"></td>
                                <td data-ng-bind="res.resourcesList.partners.total.rsvForecast"></td>
                                <td data-ng-bind="res.resourcesList.partners.total.trade"></td>
                                <td data-ng-bind="res.resourcesList.partners.total.other"></td>
                                <td data-ng-bind="res.resourcesList.partners.total.total"></td>
                                <td data-ng-bind="res.resourcesList.partners.total.totalpercent"></td>

                            </tr>

                        </table>

                    </td>
                </tr>

                <!--End of first section - Emerging Stars & Partners   -->

                <tr class="heading-row">
                    <th class="planning-heading sep-column">Niche Players</th>
                    <th class="planning-heading">Scale</th>
                </tr>

                <!--Second section starts - Niche Players & Scale-->

                <tr>
                    <td class="sep-column">

                        <table class="table table-bordered">
                            <tr class="heading-row">
                                <td class="heading">Customer</td>
                                <td class="heading">2015<br>RSV</td>
                                <td class="heading">2020<br>RSV</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Enter Total Trade Expenditure. Difference between NSV & GSV">Trade Expenditure<br>$m</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Total Customers Resources - excluding trade expenditure">Other Resources<br>$m</td>
                                <td class="heading">Total $m</td>
                                <td class="heading sep-column">% Total</td>
                            </tr>

                            <tr data-ng-repeat="niche in res.resourcesList.nichePlayers.actuals track by $index">
                                <td class="channel__cells" data-ng-bind="niche.customer"></td>
                                <td class="channel__cells" data-ng-bind="niche.rsvActual"></td>
                                <td class="channel__cells" data-ng-bind="niche.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="niche.trade"></td>
                                <td class="channel__cells" data-ng-bind="niche.other"></td>
                                <td class="channel__cells" data-ng-bind="niche.total"></td>
                                <td class="channel__cells" data-ng-bind="niche.totalpercent"></td>
                            </tr>

                            <!--Dummy rows to make the display consistent      -->
                            <tr data-ng-repeat="n in res.nicheDummyRows track by $index">

                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>

                            </tr>
                            <!--End of dummy rows -->

                            <tr class="res-total">
                                <td>TOTAL</td>
                                <td data-ng-bind="res.resourcesList.nichePlayers.total.rsvActual"></td>
                                <td data-ng-bind="res.resourcesList.nichePlayers.total.rsvForecast"></td>
                                <td data-ng-bind="res.resourcesList.nichePlayers.total.trade"></td>
                                <td data-ng-bind="res.resourcesList.nichePlayers.total.other"></td>
                                <td data-ng-bind="res.resourcesList.nichePlayers.total.total"></td>
                                <td data-ng-bind="res.resourcesList.nichePlayers.total.totalpercent"></td>

                            </tr>

                        </table>

                    </td>

                    <td>
                        <table class="table table-bordered">
                            <tr class="heading-row">
                                <td class="heading">Customer</td>
                                <td class="heading">2015<br>RSV</td>
                                <td class="heading">2020<br>RSV</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Enter Total Trade Expenditure. Difference between NSV & GSV">Trade Expenditure<br>$m</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Total Customers Resources - excluding trade expenditure">Other Resources<br>$m</td>
                                <td class="heading">Total $m</td>
                                <td class="heading sep-column">% Total</td>
                            </tr>

                            <tr data-ng-repeat="scale in res.resourcesList.scale.actuals track by $index">
                                <td class="channel__cells" data-ng-bind="scale.customer"></td>
                                <td class="channel__cells" data-ng-bind="scale.rsvActual"></td>
                                <td class="channel__cells" data-ng-bind="scale.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="scale.trade"></td>
                                <td class="channel__cells" data-ng-bind="scale.other"></td>
                                <td class="channel__cells" data-ng-bind="scale.total"></td>
                                <td class="channel__cells" data-ng-bind="scale.totalpercent"></td>
                            </tr>

                            <!--Dummy rows to make the display consistent      -->
                            <tr data-ng-repeat="n in res.scaleDummyRows track by $index">

                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>
                                <td class="res-empty-cells"> <span> 0 </span> </td>

                            </tr>
                            <!--End of dummy rows -->

                            <tr class="res-total">
                                <td>TOTAL</td>
                                <td data-ng-bind="res.resourcesList.scale.total.rsvActual"></td>
                                <td data-ng-bind="res.resourcesList.scale.total.rsvForecast"></td>
                                <td data-ng-bind="res.resourcesList.scale.total.trade"></td>
                                <td data-ng-bind="res.resourcesList.scale.total.other"></td>
                                <td data-ng-bind="res.resourcesList.scale.total.total"></td>
                                <td data-ng-bind="res.resourcesList.scale.total.totalpercent"></td>

                            </tr>

                        </table>

                    </td>
                </tr>

                <!--End of Niche Players & Scale-->

                <!--Start of other section-->

                <tr class="heading-row">
                    <th colspan="2" class="planning-heading">Other</th>
                </tr>

                <tr class="heading-row">
                    <td colspan="2">
                        <table class="table table-bordered">
                            <tr class="heading-row">
                                <td class="heading">Customer</td>
                                <td class="heading">2015 RSV</td>
                                <td class="heading">2020 RSV</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Enter Total Trade Expenditure. Difference between NSV & GSV">Trade Expenditure<br>$m</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Total Customers Resources - excluding trade expenditure">Other Resources<br>$m</td>
                                <td class="heading">Total $m</td>
                                <td class="heading">% Total</td>
                            </tr>

                            <tr>
                                <td class="channel__cells"> Total Other </td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.rsvActual"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.trade"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.other"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.total"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.totalpercent"></td>

                            </tr>

                            <tr class="res-total">
                                <td> TOTAL </td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.rsvActual"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.trade"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.other"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.total"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.otherCustomers.total.totalpercent"></td>

                            </tr>
                        </table>
                    </td>

                </tr>

                <!--End of other section-->

                <!--Start of total section-->

                <tr class="heading-row">
                    <th colspan="2" class="planning-heading">Total</th>
                </tr>

                <tr>
                    <td colspan="2">

                        <table class="table table-bordered">

                            <tr class="heading-row">
                                <td class="heading">Customer</td>
                                <td class="heading">2015 RSV</td>
                                <td class="heading">2020 RSV</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Enter Total Trade Expenditure. Difference between NSV & GSV">Trade Expenditure<br>$m</td>
                                <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Total Customers Resources - excluding trade expenditure">Other Resources<br>$m</td>
                                <td class="heading">Total $m</td>
                                <td class="heading">% Total</td>
                            </tr>

                            <tr class="res-total">
                                <td> TOTAL </td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.overalltotal.total.rsvActual"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.overalltotal.total.rsvForecast"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.overalltotal.total.trade"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.overalltotal.total.other"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.overalltotal.total.total"></td>
                                <td class="channel__cells" data-ng-bind="res.resourcesList.overalltotal.total.totalpercent"></td>

                            </tr>

                        </table>

                    </td>
                </tr>

                <!--End of total section-->


            </tbody>

        </table>
    </div>

    

</div>