<div class="reo-wrapper">
    
    <div class="reo-head">
        
        <h4>Bold Resource Choices</h4>
        
        <div class="scm-downloadBtn">
            <span> Download Output </span>
        </div>
        
    </div>
    
    <div class="reo-content">
        
        <div class="reo-top">
            
            <div class="reo-content-left">
                <div class="reo-content-header"> Emerging stars </div>
                
                <div class="reo-content-inner">
                    &#9679;
                </div>
                
            </div>
            
            <div class="reo-content-right">
                <div class="reo-content-header"> Partners </div>
            </div>
        </div>
      
        <div class="reo-bottom"></div>
        
    </div>
    
    
</div>


