<div class="reo-wrapper">

    <div class="reo-head">

        <h4>Bold Resource Choices</h4>

        <div class="scm-downloadBtn" id="save_chart">
            <!--<span> Download Output </span>-->
            <a class="scmBtn btn-primary">Download</a>
        </div>

    </div>

    <div print-bold-output=""></div>
    <div id="capture_wrapper">
        <p class="res-table-header">What bold resource choices are we making to win?</p>
        <div class="reo-content">
            <!--Start of top content  -->

            <div class="reo-top">

                <div class="reo-content-left">
                    <div class="reo-content-header"> Emerging stars </div>

                    <div class="reo-content-inner">

                        <!--Start of Question 1-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span>What are the actions we are taking?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.emergingStars[0].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 1-->

                        <!--Start of Question 2-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span>What are the implications for shifting resource?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.emergingStars[1].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 2-->

                        <!--Start of Question 3-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span>What are the implications for growth/share/profitability?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.emergingStars[2].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 3-->

                    </div>

                </div>

                <div class="reo-content-right">
                    <div class="reo-content-header"> Partners </div>
                    <div class="reo-content-inner">

                        <!--Start of Question 4-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span class="nowrap">What are the actions we are taking?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.partners[0].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 4-->

                        <!--Start of Question 5-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span class="nowrap">What are the implications for shifting resource?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.partners[1].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 5-->

                        <!--Start of Question 6-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span class="nowrap">What are the implications for growth/share/profitability?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.partners[2].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 6-->


                    </div>
                </div>
            </div>

            <!--End of top content-->

            <!--Start of middle content-->

            <div class="reo-middle">

                <div class="reo-content-left">
                    <div class="reo-content-header"> Niche players </div>

                    <div class="reo-content-inner">

                        <!--Start of Question 7-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span>What are the actions we are taking?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.nichePlayers[0].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 7-->

                        <!--Start of Question 8-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span>What are the implications for shifting resource?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.nichePlayers[1].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 8-->

                        <!--Start of Question 9-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span>What are the implications for growth/share/profitability?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.nichePlayers[2].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 9-->

                    </div>
                </div>

                <div class="reo-content-right">
                    <div class="reo-content-header"> Scale </div>
                    <div class="reo-content-inner">

                        <!--Start of Question 10-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span class="nowrap">What are the actions we are taking?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.scale[0].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>

                        <!--End of Question 10-->

                        <!--Start of Question 11-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span class="nowrap">What are the implications for shifting resource?</span>
                            </div>

                            <div class="answer" data-ng-bind-html="reso.qn.scale[1].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>
                        <!--End of Question 11-->

                        <!--Start of Question 12-->

                        <div class="reo-content-qsnnippet">
                            <div class="clearfix">
                                <span> &#9679; </span>
                                <span class="nowrap">What are the implications for growth/share/profitability?</span>
                            </div>
 
                            <div class="answer" data-ng-bind-html="reso.qn.scale[2].SCM_Answers__r[0].Answer__c | replaceNewLine">
                                - 
                            </div>
                        </div>
                        <!--End of Question 12-->

                    </div>
                </div>

            </div>

            <!--End of middle content-->

            <!--Start of bottom content-->

            <div class="reo-bottom">

                <div class="reo-content-header"> Other </div>

                <section>

                    <!--Start of Question 13-->

                    <div class="reo-content-qsnnippet">
                        <div class="clearfix">
                            <span> &#9679; </span>
                            <span>What are the actions we are taking?</span>
                        </div>

                        <div class="answer" data-ng-bind-html="reso.qn.others[0].SCM_Answers__r[0].Answer__c | replaceNewLine">
                            - 
                        </div>
                    </div>
                    <!--End of Question 13-->

                </section>

                <section>

                    <!--Start of Question 13-->

                    <div class="reo-content-qsnnippet">
                        <div class="clearfix">
                            <span> &#9679; </span>
                            <span>What are the implications for shifting resource?</span>
                        </div>

                        <div class="answer" data-ng-bind-html="reso.qn.others[1].SCM_Answers__r[0].Answer__c | replaceNewLine">
                            - 
                        </div>
                    </div>
                    <!--End of Question 13-->


                </section>

                <section>

                    <!--Start of Question 13-->

                    <div class="reo-content-qsnnippet">
                        <div class="clearfix">
                            <span> &#9679; </span>
                            <span>What are the implications for growth/share/profitability?</span>
                        </div>

                        <div class="answer" data-ng-bind-html="reso.qn.others[2].SCM_Answers__r[0].Answer__c | replaceNewLine">
                            - 
                        </div>
                    </div>
                    <!--End of Question 13-->

                </section>

            </div>

            <!--End of bottom content-->

        </div>
    </div>


</div>