<div class="cpr-wrapper">

    <h4> Adjust customer prioritisation based on strategic alignment </h4>

    <!--<div class="cpr-graph">
      
            <div class="cpr-graph-content">
             
                <!--<data-insight-profit></data-insight-profit>
             
            </div>
      
    </div>-->


    <!--Start of Adjusted Graph-->
    
    <div class="cpr-save">
        <button class="scmBtn btn-primary" data-ng-click="cpr.tempFunction();"> Save </button>
    </div>

    <div class="cpr-content">

        <div class="cpr-dd-left">
            <span>My Text</span>
        </div>

        <div class="cpr-dload">

            <a class="cpr-crop" data-ng-click="cpr.tempFunction()"> Crop Chart </a>
            
            <div class="cpr-dd-middle__title top-left">
                Emerging Stars
            </div>

            <div class="cpr-dd-middle__title top-right">
                Partners
            </div>

            <div class="cpr-dd-middle__title bot-left">
                Niche Players
            </div>

            <div class="cpr-dd-middle__title bot-right">
                Scale
            </div>

            <div class="cpr-dd-middle__legLeft">
                Growth
            </div>

            <div class="cpr-dd-middle">

                <div class="cpr-dd-inner">

                    <!--Top Left Quadrant - Emerging Stars    -->

                    <section jqyoui-droppable="{multiple : true, onDrop : 'cpr.onDroppableEvent(0)' }" data-drop="true" data-jqyoui-options="cpr.dropOptions" data-ng-model="cpr.esDroppableModel">

                        <div class="cpr-btn" data-ng-repeat="customer in cpr.esDroppableModel track by $index" data-ng-style="{ 'top' : '{{customer.yAxis}}', 'left': '{{customer.xAxis}}'  }"
                            data-custom-id="{{customer.customer_id}}" data-custom-statergy="" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                            jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-if="customer.showInQuadrant" data-ng-bind="customer.customer_name" data-ng-model="customer">
                        </div>

                    </section>

                    <!--End of top left quadrant - Emerging Stars   -->

                    <!--Top right quadrant - Partners-->

                    <section data-drop="true" data-jqyoui-options="cpr.dropOptions" jqyoui-droppable="{multiple : true, onDrop : 'cpr.onDroppableEvent(1)' }" data-ng-model="cpr.paDroppableModel">

                        <div class="cpr-btn" data-ng-repeat="customer in cpr.groupedByPriority.partners track by $index" data-ng-style="{ 'top' : '{{customer.yAxis}}', 'left': '{{customer.xAxis}}'  }"
                            data-custom-id="{{customer.customer_id}}" data-custom-statergy="" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                            jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-if="customer.showInQuadrant" data-ng-bind="customer.customer_name" data-ng-model="customer">
                        </div>

                    </section>

                    <!--End of top right - partners -->
                </div>

                <div class="cpr-dd-inner no-top-border">

                    <!--Bottom left quadrant - Niche Players       -->
                    <section data-drop="true" data-jqyoui-options="cpr.dropOptions" jqyoui-droppable="{multiple : true, onDrop : 'cpr.onDroppableEvent(2)' }">

                        <div class="cpr-btn" data-ng-repeat="customer in cpr.groupedByPriority.niche_players track by $index" data-ng-style="{ 'top' : '{{customer.yAxis}}', 'left': '{{customer.xAxis}}'  }"
                            data-custom-id="{{customer.customer_id}}" data-custom-statergy="" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                            jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-if="customer.showInQuadrant" data-ng-bind="customer.customer_name">
                        </div>

                    </section>

                    <!--End of bottom left - Niche players-->

                    <!--Bottom right quadrant - Scale-->
                    <section data-drop="true" data-jqyoui-options="cpr.dropOptions" jqyoui-droppable="{multiple : true, onDrop : 'cpr.onDroppableEvent(3)' }">

                        <div class="cpr-btn" data-ng-repeat="customer in cpr.groupedByPriority.scale track by $index" data-ng-style="{ 'top' : '{{customer.yAxis}}', 'left': '{{customer.xAxis}}'  }"
                            data-custom-id="{{customer.customer_id}}" data-custom-statergy="" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                            jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-if="customer.showInQuadrant" data-ng-bind="customer.customer_name">
                        </div>
                    </section>

                    <!--End of bottom right quadrant - Scale-->

                </div>

            </div>

            <div class="cpr-dd-middle__legend">
                Size and Profit (<span data-ng-bind="cpr.contribName"></span>)
            </div>

        </div>

        <div class="cpr-dd-right">

            <!--Right side referance starts-->
            
            <aside> Drag and Drop Customer Labels into Chart </aside>

            <table class="table table-bordered text-center scm-table cpr-no-margin">

                <tbody>
                    <tr class="heading-row">
                        <td class="heading" style="width:20%">Emerging<br>Stars</td>
                        <td class="cpr-drag">

                            <div class="cpr-drag-wrapper" data-ng-class="{ 'cpr-no-margin' : $first }"data-ng-repeat="customer in cpr.groupedByPriority.emerging_stars track by $index">

                                <div class="scmBtn btn-primary cpr-btn" data-custom-id="{{customer.customer_id}}" data-spriority="{{customer.priority_source}}"
                                    data-index="{{$index}}" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                                    jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-bind="customer.customer_name"
                                    data-ng-if="customer.priority_dest ===''">
                                </div>

                                <span class="cpr-non-draggable" data-ng-class="{'missmatch' : customer.isMissMatch}" data-ng-show="customer.showText" data-ng-bind="customer.customer_name"></span>

                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="heading" style="width:20%">Partners</td>

                        <td class="cpr-drag">

                            <div class="cpr-drag-wrapper" data-ng-repeat="customer in cpr.groupedByPriority.partners track by $index">

                                <div class="scmBtn btn-primary cpr-btn" data-custom-id="{{customer.customer_id}}" data-spriority="{{customer.priority_source}}"
                                    data-index="{{$index}}" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                                    jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-bind="customer.customer_name"
                                    data-ng-if="customer.priority_dest ===''">
                                </div>

                                <span class="cpr-non-draggable" data-ng-class="{'missmatch' : customer.isMissMatch}" data-ng-show="customer.showText" data-ng-bind="customer.customer_name"></span>

                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="heading">Niche<br>Players</td>
                        
                        <td class="cpr-drag">

                            <div class="cpr-drag-wrapper" data-ng-repeat="customer in cpr.groupedByPriority.niche_players track by $index">

                                <div class="scmBtn btn-primary cpr-btn" data-custom-id="{{customer.customer_id}}" data-spriority="{{customer.priority_source}}"
                                    data-index="{{$index}}" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                                    jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-bind="customer.customer_name"
                                    data-ng-if="customer.priority_dest ===''">
                                </div>

                                <span class="cpr-non-draggable" data-ng-class="{'missmatch' : customer.isMissMatch}" data-ng-show="customer.showText" data-ng-bind="customer.customer_name"></span>

                            </div>


                        </td>

                    </tr>
                    
                    
                    <tr>
                        <td class="heading">Scale</td>
                        <td class="cpr-drag">

                            <div class="cpr-drag-wrapper" data-ng-repeat="customer in cpr.groupedByPriority.scale track by $index">
                                
                                <div class="scmBtn btn-primary cpr-btn" data-custom-id="{{customer.customer_id}}" data-spriority="{{customer.priority_source}}"
                                data-index="{{$index}}" data-drag="true" data-jqyoui-options="{revert: 'invalid', cursor: 'move'}"
                                jqyoui-draggable="{index: {{$index}},animate:true}" data-ng-bind="customer.customer_name" data-ng-if="customer.priority_dest ===''">
                            </div>

                            <span class="cpr-non-draggable" data-ng-class="{'missmatch' : customer.isMissMatch}" data-ng-show="customer.showText" data-ng-bind="customer.customer_name"></span>
                                
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="heading">Unassigned</td>
                        <td>
                            <div class="cpr-drag-wrapper" data-ng-repeat="customer in cpr.groupedByPriority.unassigned track by $index">
                                <span   class="cpr-non-draggable no-border" 
                                        data-ng-bind="customer.customer_name"></span>
                           </div>
                            
                        </td>

                    </tr>
                    
                </tbody>

            </table>
            
            <div class="cpr-dd-right__legend">
                
                <ul>
                    <li>
                        <section class="drag"></section>
                        <section> Customer dragable item </section>
                    </li>
                    <li>
                        <section class="nondrag"></section>
                        <section> Customer dragable item </section>
                    </li>
                    <li>
                        <section class="mismatch"></section>
                        <section> Customer dragable item </section>
                    </li>
                </ul>
                
            </div>

            <!--End of right side referance-->

        </div>

    </div>

    <!--<textarea name="" id="" cols="70" rows="4">
        {{ cpr.priorityData | json }}
    </textarea>-->
    <!--End of Adjusted Graph -->

</div>