<div class="cpr-wrapper">

    <h4> Adjust customer prioritisation based on strategic alignment </h4>

    <div class="cpr-graph">

        <!--Top graph goes here-->

    </div>


<!--Start of Adjusted Graph-->

    <div class="cpr-content">
        
        <div class="cpr-dd-left"></div>
        
        <div class="cpr-dd-middle">
            
            <div class="cpr-dd-inner">
                
                <section>This is checking</section>
                
                <section>This is checking</section>
                
            </div>
            
            <div class="cpr-dd-inner no-top-border">
                
                <section>This is checking</section>
                
                <section>This is checking</section>
                
            </div>
            
        </div>
        
        <div class="cpr-dd-right">
            
            <!--Right side referance starts-->
            
                <table class="table table-bordered text-center scm-table">
                    
                </table>    
            
            <!--End of right side referance-->
            
        </div>
            
    </div>
    
   <!--End of Adjusted Graph -->

</div>