<div class="">

    <h4> Overall FMCG Market: Channel forecasts</h4>

    <div class="table-responsive">
        <table class="table table-bordered text-center scm-table">

            <tbody>
                <tr class="heading-row">
                    <td rowspan="2" class="heading">Channel</td>
                    <td colspan="4" class="heading"> FMCG Total Sales (RSV) by Channel </td>
                    <td colspan="4" class="heading"> FMCG Number of Transactions by Channel </td>

                </tr>

                <tr>
                    <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Actual Sales"> 2015A<br/>($m) </td>
                    <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Forecast Sales"> 2020F<br/>($m) </td>
                    <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Cumulative Annual Growth Rate"> CAGR<br/>(15-20)</td>
                    <td class="heading">% of<br/>Total</td>
                    <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Actual Sales"> 2015A<br/>($m) </td>
                    <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Forecast Sales"> 2020F<br/>($m) </td>
                    <td class="heading" data-tooltip-append-to-body="true" data-uib-tooltip="Cumulative Annual Growth Rate"> CAGR<br/>(15-20) </td>
                    <td class="heading"> % of<br/>Total </td>
                </tr>

                <tr data-ng-repeat="channel in fmcg.fmcgForecast.forecasts track by $index">

                    <td class="{{channel.className}}" data-ng-bind="channel.channelName"></td>

                    <td class="channel__cells" data-ng-repeat="sale in channel.sales track by $index" data-ng-bind="sale | formatNumber | replaceZero"></td>
                </tr>

                <tr class="channel__total">
                    <td>Total</td>
                    <td data-ng-bind="fmcg.fmcgForecast.totalsales.fmcgsales[0] | formatNumber">100</td>
                    <td data-ng-bind="fmcg.fmcgForecast.totalsales.fmcgsales[1] | formatNumber">100</td>
                    <td></td>
                    <td data-ng-bind="fmcg.fmcgForecast.totalsales.fmcgsales[2] + '%'"></td>
                </tr>

            </tbody>


        </table>
    </div>
    <div class="scm-bottom-ctrls">
        <div class="bottom-legends">
            FY 2015 and 2020 forecasts
        </div>
    </div>


</div>