<div class="clearfix ins-resource-wrapper center-block">
    <div class="ins-resource-axis">
        <p>% by channel</p>
    </div>
    <div class="" id="resource_spend"></div>
    <div class="chart-canvas" id="chart_canvas">
        <canvas id="print_resource_position"></canvas>
    </div>

    <!--<ul class="ins-resource-legends list-unstyled list-inline clearfix">-->
    <ul class="ins-resource-legends clearfix">

        <li>
            <span> RSV 2015 </span>
            <section> Category Today </section>
        </li>

        <li class="middle">
            <span> Resource Spend 2015 </span>
            <section> Mars Spend </section>
        </li>

        <li>
            <span> Growth in RSV to 2020 </span>
            <section> Future Growth<br>in Category </section>
        </li>
        
    </ul>
</div>