<div class="">
    <h4>Breakdown of Mars Resource spend by Sub-channel</h4>


    <div class="table-responsive">

        <table class="table table-bordered text-center scm-table">

            <tbody>
                <tr class="heading-row">
                    <td rowspan="2" class="heading">Channel</td>
                    <td rowspan="2" class="heading">Format</td>
                    <td class="heading"> Mars Resources
                        <br>by Channel: Total spend </td>
                    <td class="heading"> Trade spend </td>
                    <td class="heading"> Consumer
                        <br>Promotion Spend </td>
                    <td class="heading">D&E</td>
                    <td class="heading"> Overhead</td>
                    <td rowspan="2" class="heading">Edit</td>
                </tr>

                <tr>
                    <td class="heading">2015A<br/>($M)</td>
                    <td class="heading">2015A<br/>($M)</td>
                    <td class="heading">2015A<br/>($M)</td>
                    <td class="heading">2015A<br/>($M)</td>
                    <td class="heading">2015A<br/>($M)</td>

                </tr>

                <tr data-ng-repeat-start="channel in chsub.formatForecastList.forecasts track by $index">

                    <td data-ng-if="channel.hasFormat" rowspan="{{ channel.format.length + 1 }}" class="{{ channel.className }}" data-ng-bind="channel.channelName">
                    </td>

                </tr>

                <tr data-ng-repeat-end 
                     data-ng-repeat-start="format in channel.format track by $index" 
                     data-ng-init="offset = $index">

                    <td data-ng-if="channel.hasFormat" class="{{ format.className }}" data-ng-bind="format.formatName">
                    </td>

                    <td data-ng-if="!channel.hasFormat" colspan="2" class="{{ channel.className }}" data-ng-bind="channel.channelName">
                    </td>

                    <td data-ng-repeat-end 
                        class="channel__cells" 
                        data-ng-if="format.sales.length > 0" 
                        data-ng-repeat="sval in format.sales track by $index"
                        data-ng-init="index=$index" 
                        data-ng-bind="sval | formatNumber | replaceZero">
                    </td>

                    <td data-ng-repeat-end 
                        data-ng-if="format.sales.length === 0" 
                        data-ng-repeat="n in chsub.generateArray() track by $index"
                        data-ng-bind="''"></td>

                    <td class="channel-edit">
                        <span data-ng-click="chsub.setUpdateChanl( channel, offset )"> Update Format </span>
                    </td>

                </tr>

                <tr data-ng-repeat-end></tr>

                <tr class="channel__total">
                    <td colspan="2">Total</td>
                    <td data-ng-if="chsub.formatForecastList.totalsales.salesBreakDownCount.length > 0" 
                        data-ng-repeat="total in chsub.formatForecastList.totalsales.salesBreakDownCount track by $index"
                        data-ng-bind="total | replaceZero | formatNumber">
                    </td>
                    <td colspan="5"></td>
                </tr>

            </tbody>

        </table>

    </div>
</div>