// Variables pertaining to SCM go here.

//Background Colors

$tab-active-bg: #0EC6ED;

$tab-bg: #0295C3;

$table-heading-bg: #006393;;


//Text Colors

$wrapper-color: #1B8ABA;

$tab-color: #ffffff;



//Font family

$wrapper-font-family: Arial,Helvetica,sans-serif;


//Font-sizes 
$wrapper-font-size: 13px;

//Bold Resources Variables //
$br-output-wrapper-width : 1080px;
$br-output-small-width : ($br-output-wrapper-width / 3);
$br-output-large-width : ($br-output-small-width * 2);
$br-output-large-last : ($br-output-large-width - 2);