// ********************************************************************************//
// **** Detailed Resource Planning related styles ***** //
// **** res stands for resource planning ***********//
// ********************************************************************************* //

.res{
    
    &-wrapper{
        
        width: 100%;
           .scm-table tr > th{
                color: #000;
            }
            
            .table{
                
                .table{
                    
                    margin: 0 !important;
                }
            }
            
            
    }
    
    &-head{
        
        width: 100%;
           
           h4{ float: left; }
           
           .scm-downloadBtn
           { 
              float: right;
              margin-top: 20px;
              margin-right: 20px;
            }
           
           @include clearfix();
        
    }
    
    &-table-header{
        text-align: center;
        color: #333333;
        font-size: 18px;
        padding: 10px;
    }
    
    &-total{
            
            background-color: #D6D6D6;
            td{
               font-weight: bold;
                color: #101010 !important;
            }
            
          }
          
     &-empty-cells{
         
         span{
              content: "0"; 
              visibility: hidden;
              text-indent: -9999px;
         }
     }
     
     &-wraning{
         
            background-color: #ffcea6;
            border: 1px solid #fabe8c;
            border-radius: 4px;
            color: #252525;
            font-size: 13px;
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 15px;
            
            section{
                
                float: left;
                
                &:first-child{
                    
                    background-image: url('../images/alert.png');
                    width: 27px;
                    height: 23px;
                    margin-top: 3px;
                }
                
                &:last-child{
                    
                        margin-top:5px;
                        padding-left: 7px;
                        a{
                            color: #252525;
                            text-decoration: underline;
                            
                        }
                }
            }
            
            
     }     
}


.planning{
    
    &-heading{
    background-color: #EAD03C;
    text-align: center;
    font-size: 14px;
    padding: 5px !important;   
    
           }
}

.resMarTop{ margin-top: 15px; }


