<div class="fc-wrapper">

    <div class="scm-tab-wrapper">

        <ul class="list-unstyled list-inline">

            <li class="scm-tab" ui-sref-active="active">
                <a data-ui-sref="forecasts.fmcg">FMCG Channel Forecasts</a>
            </li>

            <li class="scm-tab" ui-sref-active="active">
                <a data-ui-sref="forecasts.category">Category-level Channel Forecasts</a>
            </li>

            <li class="scm-tab" ui-sref-active="active">
                <a data-ui-sref="forecasts.format">Sub-Channel Resource Spend</a>
            </li>

            <li class="scm-tab" ui-sref-active="active">
                <a data-ui-sref="forecasts.insights">Channel Insights</a>
            </li>

        </ul>

    </div>


    <!--All the sub view will go in to this element-->
    <data-ui-view></data-ui-view>

</div>