<div class="hm-wrapper">

    <div class="hm-inner">

        <div class="hm-header">

            <!--<form class="form-inline">
                <div class="form-group">
                    <label for="sel_segment">
                        
                        Your default segment:
                        
                    </label>

                    <select id="sel_segment" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>

                </div>-->

        </div>

        <div class="hm-body">

        <a ui-sref="forecasts.fmcg">Channel Forecasting</a>

            <a ui-sref="customers.customers_listing">Customer Prioritisation</a>

            <a href="">Bold Resource Choices</a>


        </div>

    </div>

</div>